.modal {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $light;
    overflow-y: auto;
    transform: translateY(100%);
    transition: transform ease-in-out .5s;

    &.is-show {
        transform: translateY(0);
    }
}

.modal__header {
    flex-shrink: 0;
    position: sticky;
    z-index: 2;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    padding-right: var(--body-padding-right, 0);
}

.modal-close {
    width: 50px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(18, 18, 18, 0.3);
    transition: $tr;
    margin-left: auto;

    &::after {
        content: '';
        display: block;
        width: 55%;
        aspect-ratio: 1/1;
        @include mask(center/contain no-repeat url(@sprite#cross));
        background-color: $light;
    }

    @media (any-hover: hover) {

        &:hover {
            background: rgba(18, 18, 18, 0.5);
        }
    }

    @media (max-width: $mobile-l) {
        width: 32px;
    }
}

.modal__body {
    width: 100%;
    height: fit-content;
    margin-top: -50px;
    overflow-x: hidden;

    @media (max-width: $mobile-l) {
        margin-top: -32px;
    }
}